<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipe *ngIf="lodedFeature==='recipe'"></app-recipe>
      <app-shoping-list *ngIf="lodedFeature!=='recipe'"></app-shoping-list>
    </div>
  </div>
</div>




<!-- <div class="container">
 <div class="d-flex">
    <div 
         cdkDropList
         #todoList="cdkDropList"          
         [cdkDropListData]="todos"
         [cdkDropListConnectedTo]="[doneList]"
         (cdkDropListDropped)="onDrop($event)">
         
      <h2>Tech to learn</h2>

      <table class="table table-striped table-hover table-bordered" 
        *ngFor="let todo of todos" cdkDrag>
        <tbody>
          <tr>
            <td>{{todo.name}}</td>
            <td>{{todo.category}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  
    <div 
         cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="completed"
         [cdkDropListConnectedTo]="todoList"
         (cdkDropListDropped)="onDrop($event)">
      <h2>Tech learned</h2>

      <table class="table table-striped table-hover table-bordered"
        *ngFor="let todo of completed" cdkDrag>
        <tbody>
          <tr>
            <td>{{todo.name}}</td>
            <td>{{todo.category}}</td>
          </tr>
        </tbody>
      </table>
  </div>

 </div>    
    <button type="button" class="btn btn-success" (click)="displayConsole()">Success</button>
</div> -->

